
.vs/

NTDLS.SignalMessaging/obj/

NTDLS.SignalMessaging/bin/

TestHarness/obj/

TestHarness/bin/

NTDLS.SignalRPC/bin/

NTDLS.SignalRPC/obj/

NTDLS.MedianRPC/bin/

NTDLS.MedianRPC/obj/

Test.Client/bin/

Test.Client/obj/

Test.Library/bin/

Test.Library/obj/

Test.Server/bin/

Test.Server/obj/

NTDLS.TightRPC/bin/

NTDLS.TightRPC/obj/

NTDLS.ReliableMessaging/bin/

NTDLS.ReliableMessaging/obj/

TestHarness/Convention/Test.ClientByConvention/bin/

TestHarness/Convention/Test.ClientByConvention/obj/

TestHarness/Convention/Test.ServerByConvention/bin/

TestHarness/Convention/Test.ServerByConvention/obj/

TestHarness/Eventing/Test.ClientByEventing/bin/

TestHarness/Eventing/Test.ClientByEventing/obj/

TestHarness/Eventing/Test.ServerByEventing/obj/

TestHarness/Eventing/Test.ServerByEventing/bin/

TestHarness/Test.Library/bin/

TestHarness/Test.Library/obj/

TestHarness/CustomProviders/Test.ClientCustomProviders/bin/

TestHarness/CustomProviders/Test.ClientCustomProviders/obj/

TestHarness/CustomProviders/Test.ServerCustomProviders/bin/

TestHarness/CustomProviders/Test.ServerCustomProviders/obj/

*.user

TestHarness/GenericConvention/Test.ClientByGenericConvention/obj/

TestHarness/GenericConvention/Test.ClientByGenericConvention/bin/

TestHarness/GenericConvention/Test.ServerByGenericConvention/bin/

TestHarness/GenericConvention/Test.ServerByGenericConvention/obj/

TestApps/Eventing/Test.ClientByEventing/bin/

TestApps/Eventing/Test.ClientByEventing/obj/

TestApps/Eventing/Test.ServerByEventing/bin/

TestApps/Eventing/Test.ServerByEventing/obj/

TestApps/GenericConvention/Test.ClientByGenericConvention/obj/

TestApps/GenericConvention/Test.ClientByGenericConvention/bin/

TestApps/Test.Library/bin/

TestApps/Test.Library/obj/

Tests/bin/

Tests/obj/

TestApps/CustomProviders/Test.ClientCustomProviders/bin/

TestApps/CustomProviders/Test.ClientCustomProviders/obj/

TestApps/Convention/Test.ServerByConvention/bin/

TestApps/Convention/Test.ServerByConvention/obj/

TestApps/Convention/Test.ClientByConvention/bin/

TestApps/Convention/Test.ClientByConvention/obj/

TestApps/GenericConvention/Test.ServerByGenericConvention/bin/

TestApps/GenericConvention/Test.ServerByGenericConvention/obj/

TestApps/CustomProviders/Test.ServerCustomProviders/bin/

TestApps/CustomProviders/Test.ServerCustomProviders/obj/

TestApps/Throughput/bin/

TestApps/Throughput/obj/

TestApps/ExceptionPropagation/bin/

TestApps/ExceptionPropagation/obj/

Examples/Convention/Example.ClientByConvention/bin/

Examples/Convention/Example.ClientByConvention/obj/

Examples/Cryptography/Example.Cryptography.Client/bin/

Examples/Cryptography/Example.Cryptography.Client/obj/

Examples/Cryptography/Example.Cryptography.Server/bin/

Examples/Cryptography/Example.Cryptography.Server/obj/

Examples/Convention/Example.ServerByConvention/bin/

Examples/Convention/Example.ServerByConvention/obj/

Examples/CustomProviders/Example.ClientCustomProviders/obj/

Examples/CustomProviders/Example.ClientCustomProviders/bin/

Examples/CustomProviders/Example.ServerCustomProviders/bin/

Examples/CustomProviders/Example.ServerCustomProviders/obj/

Examples/Events/Example.ClientByEvents/bin/

Examples/Events/Example.ClientByEvents/obj/

Examples/Events/Example.ServerByEvents/bin/

Examples/Events/Example.ServerByEvents/obj/

Examples/Example.Shared/obj/

Examples/Example.Shared/bin/

Examples/GenericConvention/Example.ClientByGenericConvention/bin/

Examples/GenericConvention/Example.ClientByGenericConvention/obj/

Examples/GenericConvention/Example.ServerByGenericConvention/bin/

Examples/GenericConvention/Example.ServerByGenericConvention/obj/

Examples/Sequencing/Example.Sequencing.Client/bin/

Examples/Sequencing/Example.Sequencing.Client/obj/

Examples/Sequencing/Example.Sequencing.Server/bin/

Examples/Sequencing/Example.Sequencing.Server/obj/

Testing/SandBox/ExceptionPropagation/bin/

Testing/SandBox/ExceptionPropagation/obj/

Testing/SandBox/Throughput/bin/

Testing/SandBox/Throughput/obj/

Testing/Tests/bin/

Testing/Tests/obj/

Testing/Tests.Shared/bin/

Testing/Tests.Shared/obj/

Tests.Shared/obj/
